In [2]:
import pandas as pd

file_path = (r"C:\Users\Hafsa\Downloads\cities (1).xlsx")
file_path

cities = pd.read_excel(file_path)
cities

                  City      Country  Population     Area
0                Solta      Croatia        1700       59
1           Greenville          USA       84554       68
2         Buenos Aires    Argentina    13591863     4758
3            Los Cabos       Mexico      287651     3750
4   Walla Walla Valley          USA       32237       33
5             Marakesh      Morocco      928850      200
6          Albuquerque   New Mexico      559277      491
7      Archipelago Sea      Finland       60000     8300
8         Iguazu Falls    Argentina           0      672
9        Salina Island        Italy        4000       27
10             Toronto       Canada         630  2731571
11         Pyeongchang  South Korea     2581000     3194

In [3]:
# Write a for loop to print all the city names in your dataset.

for city_names in cities["City"]:
    print(city_names)

Solta
Greenville
Buenos Aires
Los Cabos
Walla Walla Valley
Marakesh
Albuquerque
Archipelago Sea
Iguazu Falls
Salina Island
Toronto
Pyeongchang

In [4]:
# Modify the loop so that it stops printing if it encounters a city whose name starts with "B" (Use break).

for city_name in cities["City"]:  # Loop through city names
    
    if city_name.startswith("B"):  # Stop if a city name starts with "B"
        
        break
        
    print(city_name)  # Print the city name

Solta
Greenville

In [5]:
# Modify the loop so that it skips any city whose name starts with "B" but continues to print others (Use continue).


for city_name in cities["City"]:  # Loop through city names
    
    if city_name.startswith("B"):  # continues if a city name starts with "B"
        
        continue
        
    print(city_name)  # Print the city name

Solta
Greenville
Los Cabos
Walla Walla Valley
Marakesh
Albuquerque
Archipelago Sea
Iguazu Falls
Salina Island
Toronto
Pyeongchang

In [13]:
# Write a for loop that prints only the cities with an area greater than 500 km². 

for index, row in cities.iterrows():  # Loop through each row of the DataFrame
    
    if row["Area"] > 500:  # Check if the city's area is greater than 500 km²
        
        print(f"{row['City']} has an area of {row['Area']} km²")  # Print city name and area

Buenos Aires has an area of 4758 km²
Los Cabos has an area of 3750 km²
Archipelago Sea has an area of 8300 km²
Iguazu Falls has an area of 672 km²
Toronto has an area of 2731571 km²
Pyeongchang has an area of 3194 km²

In [14]:
# Modify your loop to stop once it finds 5 cities with an area greater than 500 km²


count = 0  # Initialize a counter

for index, row in cities.iterrows():  
    
    if row["Area"] > 500:  
        
        print(f"{row['City']} has an area of {row['Area']} km²")  
        
        count += 1  # Increase the counter
        
    if count == 5:  # Stop the loop after finding 5 cities
        
        break

Buenos Aires has an area of 4758 km²
Los Cabos has an area of 3750 km²
Archipelago Sea has an area of 8300 km²
Iguazu Falls has an area of 672 km²
Toronto has an area of 2731571 km²